/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.container {
    height: calc(100vh - 100px);
    display: flex;
}

/* side navbar */
.navbar {
    width: 250px;
    /* debugging */
    background-color: azure;
}

/* main section */
.main-section {
    width: calc(100% - 250px);
    /* debugging */
    background-color: cadetblue;
}

.upgrade {
    height: 100px;
    width: calc(100% - 250px);
    background-color: #080b12;
    text-align: right;
    /* positioning rules */
    position: fixed;
    top: 0;
    left: 250px;
}

.upgrade>span {
    color: white;
    font-size: 0.7rem;
    display: inline-block;
    white-space: nowrap;
    width: fit-content;
    padding: 10px 30px;
    margin: 31.80px 0;
    border: 1px solid white;
    border-radius: 20px;
}

.upgrade>span:hover {
    font-size: 0.8rem;
    margin: 31.40px 0;
}

/* player */
.player {
    height: 100px;
    /* debugging */
    background-color: cornflowerblue;
}