/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.container {
    height: calc(100vh - 100px);
    display: flex;
}

/* side navbar */
.navbar {
    width: 250px;
    /* debugging */
    background-color: azure;
}

/* main section */
.main-section {
    width: calc(100% - 250px);
    /* debugging */
    background-color: #141922;
}

/* fixed bar for upgrade */
.upgrade {
    height: 100px;
    width: calc(100% - 250px);
    background-color: #080b12;
    text-align: right;
    /* positioning rules */
    position: fixed;
    top: 0;
    left: 250px;
}

.upgrade>span {
    color: white;
    font-size: 0.7rem;
    display: inline-block;
    white-space: nowrap;
    width: fit-content;
    padding: 1% 5%;
    margin: 2.2% 0;
    border: 1px solid white;
    border-radius: 20px;
}

.upgrade>span:hover {
    font-size: 0.8rem;
}

/* main contents */
.main-contents {
    margin-top: 100px;
}

/* spotify sections */
.spotify-sections {
    width: 80%;
    margin: 8.5% auto;
}

.spotify-sections>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.spotify-sections ul li {
    list-style-type: none;
}

.spotify-sections ul li a {
    text-decoration: none;
    color: #6d7075;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 5%;
    white-space: nowrap;
}

/* rules for selected section */
#selected::after {
    content: "";
    display: block;
    height: 2px;
    width: 35%;
    margin: 5px auto;
    background-color: #90d32c;
}

/* player */
.player {
    height: 100px;
    /* debugging */
    background-color: cornflowerblue;
}